header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

.header-links {
    display: flex;
    align-items: center;
}

.dark-mode{
    margin-left: 50px;
}

.dropdown {
    margin-left: 50px;
}

main {
    margin-top: 20px;
    margin-bottom: 70px;
    margin-right: 0px;
    margin-left: 0px;
}

@media (max-width: 1066px) {
    header {
        font-size: 14px;
    }
    .dark-mode{
        margin-left: 9px;
    }
    
    .dropdown {
        margin-left: 9px;
    }
}

@media (max-width: 1023px) {
    header {
        font-size: 10px;
    }
    .dark-mode{
        margin-left: 0;
    }
    
    .dropdown {
        margin-left: 0;
    }
}

@media (max-width: 600px){
    header {
        font-size: 15px;
    }
}

@media (min-width: 500px),
(max-width: 800px) {
  #DivTituloSmall {
    display: none;
  }

  #Logo {
    width: 100px;
  }

  #Card {
    min-width: 350px;
    width: 80%;
    margin: 5% 10% 5% 10%;
  }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 20px;
}

.footer li{
    margin-right: 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;   
}

