/* Color Theme Swatches in Hex */
.pagina-1-hex { color: #000000; }
.pagina-2-hex { color: #E6BC0E; }
.pagina-3-hex { color: #36827F; }
.pagina-4-hex { color: #FDFBFB; }
.pagina-5-hex { color: #95190C; }

body{
    background-color:#fdfbfb;
    font-family: 'Roboto', sans-serif; 
}

header {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: rgb(187, 152, 10);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background:#131313;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 55px;
}

.button {
    color: #dcd9d2;
    border: 3px solid #95190C;
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #95190c;
    color: white;   
  }

  .button1:hover {
    background-color: #dcd9d2; 
    color: black; 
    border: 3px solid #95190C;
  }

a{
    color: #3d3d3d;
    text-decoration: none;
}

p{
    color: black;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-links-1 {
  display: flex;
  align-items: center;
  justify-content: left;
}

.header-image {
  margin-left: 0;
}

.header-links-2 {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}

header a{
  text-align: center;
}

header button {
  text-align: center;
}

.dark-mode {
    display: flex;
    align-items: center;
    justify-content: right;
    color: #3d3d3d;
}

.dropdown {
    color: #3d3d3d;
}

main {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header a:hover{
  color: #dcd9d2;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.card {
  width: 30%;
  height: auto;
  margin: 30px 15px;
}

.card img {
  height: 90%;
}

.card-button-container {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card button {
  display: flex;
  align-items: center;
  text-align: center;
}

.footer {
  text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.678);
    color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 20px;
}

.footer li{
    margin: 0 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;   
}

@media (max-width: 991px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 40%;
  }
  .footer h3{
    font-size: 15px;
  }
  header a{
    font-size: 13px;
  }
  header button {
    font-size: 13px;
  }
  .dark-mode{
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 600px){
  .cards-container {
    display: block;
  }
  .card {
    width: 100%;
    margin: 30px 0;
  }
  .footer h3{
    font-size: 15px;
  }
  header h3{
    font-size: 20px;
  }
  header button{
    font-size: 20px;
  }
}