header {
    width: 100%;
    height: 150px;
    background-color: rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: inherit;
    align-items: inherit;
}

.header-image {
    width: 140px;
    height: 140px;
    margin: 4px 0 0 5px;
}

.header-options ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.header-options li {
    margin-right: 25px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.header-options a {
    text-decoration: none;
    color: rgb(124, 124, 124);
}

.header-options a:hover {
    color: black;
}

.header-dark-mode {
    margin-right: 5%;
    display: flex;
    align-items: inherit;
    justify-content: space-evenly;
}

.header-dark-mode h1 {
    font-size: 20px;  
    color: rgb(34, 34, 34);
}

.header-dark-mode button {
    width: 50px;
    height: 20px;
    margin-top: 4px;
    margin-left: 5px;
    border-radius: 5px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 20px;
}

footer li{
    margin-right: 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;   
}

.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 60%;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}